<p-card header="Equity-Dash" [style]="{color: 'white', background: '#55f', height: '60px'}">
</p-card>
<p-tabMenu [model]="items" [activeItem]="activeItem" [style]="{marginTop: '10px'}">
  <ng-template pTemplate="item" let-item let-i="index">
      <div  style="position: relative; text-align: center; min-width: 10em">
          <div class="ui-menuitem-icon" [ngClass]="item.icon" *ngIf="item.icon" style="font-size: 2em"></div>
          <div class="ui-menuitem-text">
              {{item.label}}
          </div>
      </div>
  </ng-template>
</p-tabMenu>

<router-outlet></router-outlet>